body {
    display: flex;
    height:100vh;
    width: 100vw;
    justify-content: stretch;
    background-color: white;
    padding: 0;
    flex:1;
    
}
.content {
    display:flex;
    flex-direction: column;
    background-color: #264653;
    justify-content:space-between;
    max-width: 900px;
    flex-grow: 9;
    font-family: "Open Sans",Helvetica,sans-serif;
    margin:0;
}

.title{
    padding: 100px;
    border-radius: 20px;
    align-self: center;
    background-color: #264653;
    color: White;
    font-size: 50px;
    font-weight: 700;
}
.playerChoices {
    display: flex;
    justify-content: center;
    gap: 20px;
}
button {
    font-size: 20px;
    margin-top:50px;
    width: 150px;
    border-radius: 20px;
    background-color: #2a9d8f;
    border-color: white;
    color: white;
} 
.results {
    align-self: center;
    color: white;
    padding: 40px;
    font-size: 20px;
}
.add {
    display: flex;
    flex-direction: column;
    align-self:center;
}
.score {
    align-self: center;
    font-weight: 700;
    color:white;
}
.finalResultsDiv {
    display: flex;
    justify-content: center;
}

.restartScreen {
    justify-content: center;
}
.finalResultsDiv {
    color:white;
    font-size: 60px;
}
.restart{
    align-self: center;
    justify-content: center;
}
img {
    width:100px;
    height:auto;
}
.leftPictures {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex:1;
    align-items: center;
    background-color: #e76f51;
    margin:0;
}








